<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
%%ROBOTS%%
<meta name="theme-color" content="#1e5a3a">

<link rel="preload" href="/fonts/inter-var.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/poppins-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="%%CSS%%">

<link rel="icon" href="/img/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

<script type="module" src="%%JS%%"></script>
